

@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crushed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

/*remove default margin, padding and border*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 50%;
    text-align: center;
    margin: auto;
}

#navbar {
    height: 100px;
}

#main-title {
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-top: 40px;
    font-family: Montserrat Alternates;
}

.title {
    padding-top: 40px;
    text-transform: capitalize;
    letter-spacing: 4px;
}

#intro {
    padding: 20px 0;
}

.project {
    height: 40vh;
}

#clock {
    background-color: rgb(190, 36, 36);
    color: rgb(245,254,255)
}

#word-game {
    background-color:rgb(221, 121, 28);
}
#memory-game {
    background-color: rgb(231, 231, 5);
}

#project-x {
    background-color: rgb(49, 184, 49);
}

#project-y {
    background-color: rgb(52, 126, 196);
}

#project-z {
    background-color: rgb(107, 9, 177);
}

#project-q {
    background-color: rgb(143, 90, 143);
}